.container {
    color: white;
    width: 250px;
    background-color: #54b68b;
    height: 100dvh;
    padding: 0;
    position: fixed;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-100%);
}

.showContainer {
    transform: translateX(0);
}

.closeButton {
    position: absolute;
    top: 0px;
    right: -59px;
    background-color: #54b68b;
    border-radius: 0 30% 30% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 70px;
    cursor: pointer;
}

.closeButton span {
    color: white;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.1;
    padding-right: .5px;
    padding-top: 1px;
}

.nav {
    flex-grow: 1;
    padding-top: 20px;
}

.menuList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuItem,
.menuItemActive {
    margin-bottom: 5px;
    padding: 0;
}

.menuLink {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    transition: background-color 0.2s;
    border-radius: 0;
}

.menuIcon {
    font-size: 24px;
    margin-right: 15px;
}

.menuItemActive .menuLink {
    background-color: #ffe81a;
    color: #54b68b;
    font-weight: 600;
    border-radius: 10px;
}

.menuItemActive .menuIcon {
    color: #54b68b;
}

.bottomSection {
    padding: 20px 0;
}

.userSection {
    display: flex;
    align-items: center;
    padding: 10px 15px 20px 15px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    border: 2px solid white;
}

.userName {
    font-weight: 600;
    color: white;
}

.settingsItem .menuLink {
    padding-top: 15px;
    padding-bottom: 15px;
}

.settingsIcon {
    font-size: 24px;
    margin-right: 15px;
    color: white;
}

@media (min-width: 768px) {
    .container {
        flex: 1;
        position: relative;
        transform: translateX(0);
    }
}