@media (min-width: 768px) {}

.app {
    display: flex;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.656);
    z-index: 1;
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.3s ease;
}