@media (min-width: 768px) {}

.app {
    display: flex;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.656);
    z-index: 1;
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.3s ease;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
    padding-top: 80px;
    flex: 3;
    min-height: 100dvh ;
    position: relative;
    background-color: #f8f9fa;
}